<header class="header">
  <div class="container">
    <div class="header-content">
      <h2>Registro en Línea</h2>
      <nav class="nav">
        <ul>
          <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
          <li><a routerLink="/registrar" routerLinkActive="active">Registrar</a></li>
          <li><a routerLink="/estudiantes" routerLinkActive="active">Estudiantes</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main class="main">
  <router-outlet></router-outlet>
</main>
